@model Nhom10.Models.QLKH
<h1>Tạo mới một khách hàng</h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QLKHID" class="control-label"></label>
                <input asp-for="QLKHID" class="form-control">
                <span asp-validation-for="QLKHID" class"text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QLKHName" class="control-label"></label>
                <input asp-for="QLKHName" class="form-control">
                <span asp-validation-for="QLKHName" class"text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Save">
                <a class="btn btn-success" asp-action="Index">Danh sách khách hàng</a>
            </div>
        </form>
    </div>
</div>