@model Nhom10.Models.QLKH
@{
    ViewData["Title"] = "Edit";
}

<h4>Sửa thông tin khách hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       <form asp-action = "Create">
            <div asp-validation-summary = "ModelOnly" class = "text-danger"></div>
            <div class = "form-group">
                <label asp-for = "QLKHID" class = "control-label"></label>
                <input asp-for = "QLKHID" class = "form-control"></input>
                <span asp-validation-for = "QLKHID" class = "text-danger"></span>
            </div>
            <div class = "form=group">
                <label asp-for = "QLKHName" class = "control-label"></label>
                <input asp-for = "QLKHName" class = "form-control"></input>
                <span asp-validation-for = "QLKHName" class = "text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-success" asp-action="Index">Danh sách khách hàng</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}